@import 'nib'

red = #cc3d33

body, input {
  font: 14px Lucida Grande, sans-serif;
  color: #666;
}

body {
  background: #C3BDB3;
  border-top: solid 6px red;
  text-align: center;
}

input {
  font-family: Georgia, serif;
  border: solid 1px transparent;
  padding: 0.5em;
  outline: none;
  &:hover { border-color: #ccc; }
  &:focus { border-color: #000; }
}

a {
  text-decoration: none;
  color: red;
  &:hover, &:focus { text-decoration: underline; }
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
}


// layout

#wrap {
  background-color: #f4f4f2;
  padding: 72px 16px;
}

#content {
  width: 953px;
  margin: 0 auto;
  text-align: left;

  nav {
    float: left;
    margin: 0 5px 0 0;
    width: 140px;
    font-size: 11px;
    text-transform: uppercase;
    &, a {
      color: #999;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        border-top: solid 1px #ccc;
        a {
          display: inline-block;
          padding: 0.5em 0 0.5em 35px;
          background: url('/static/icons-interior.png') no-repeat -156px 3px;
        }
      }
      li:first-child { border-top: none; }
      for link, i in home download about npm docs blog community logos jobs {
        li.{link} a {
          background-position: -156px -24*i+3px;
        }
        li.{link} a:hover {
          background-position: -331px -24*i+3px;
          color: #000;
        }
        li.{link}.current a {
          background-position: 2px -24*i+3px;
          color: red;
          font-weight: bold;
        }
      }
    }
  }
  .profile .profsub {
    margin:0;
    font-size:11px;
  }
  .profile .profsub a:first {
    border-right: 1px solid #999
  }

  aside.login {
    background: linear-gradient(top, hsla(0, 0%, 50%, 0.1), transparent);
    float: right;
    padding: 1em;
    width: 220px;
    .avatar {
      width: 25px;
      height: 25px;
      float: left;
      margin-right: 0.5em;
    }
    .profile {
      border-bottom: 1px solid #CCC;
      line-height: 25px;
      padding-bottom: 1em;
      vertical-align: middle;
    }
  }

  #page {
    margin-left 120px + 80px;
    margin-right: 220px + 40px;

    header {
      h1 {
        text-indent: -999em;
        width: 200px;
        height: 78px;
        background: url('/static/npm.png') no-repeat;
        background-size: 200px 78px;
        margin: -5px 0 0;
      }
      form input {
        font-size: 18px;
        width: 50%;
        float: right;
      }
    }
  }
}

#package {
  width:490px;
  > h1 {
    font: 28px Georgia, serif;
    border-bottom: solid 1px #000;
  }
  .row {
    padding:0.75em 0;
    border-top: solid 1px #ccc;
  }
  p.description {
    font: 18px Georgia, serif;
  }
  td.with-avatar {
    position: relative;
    padding-left: 30px;
    .avatar {
      position: absolute;
      top: 5px;
      left: 0;
      width: 25px;
      height: 25px;
    }
  }
  table.metadata {
    margin: 1em 0;
    width: 100%;
  }
  tr {
    border-top: solid 1px #ccc;
  }
  th, td {
    padding: 0.75em 0;
    vertical-align: baseline;
  }
  th {
    color: #000;
    font-weight: normal;
    text-align: left;
    width: 120px;
  }
  b {
    color: #000;
    font-weight: bold;
    font-size: 14px;
  }
  .details {
    ul.toc {
      padding: 0;
      margin-bottom: 0;
      font-size: 16px;
      li {
        display: inline-block;
        padding: 0.5em 32px 0.5em 16px;
        &:first-child {
          background-color: #fff;
        }
      }
    }

    section {
      padding: 16px;
      background-color: #fff;
      margin-right: -260px;

      &#readme {
        h1 { font-size: 24px; }
        pre {
          font-family: Monaco, monospace;
          background-color: #f9f9f8;
          padding: 16px;
        }
      }
    }
  }
}

#footer {
  width: 953px;
  font-size:12px;
  overflow:hidden;
  padding:12px 0 60px;
  margin:12px auto 0;
  color:#666;

  a.footlogo {
    float:left;
    background:url(/favicon.ico) 34px -17px no-repeat;
    text-indent:-999em;
    width:160px;
    height:60px;
  }

  ul {
    float:left;
    margin:0;
    padding:0;
  }

  li {
    float:left;
    display:block;
    height:26px;
    line-height:26px;
    margin:0;
    padding:0;

    a {
      line-height:26px;
      padding:0 1em;
      display:block;
      height:100%;
      width:100%;
    }
  }

  h2 {
    color:#666;
    font-weight:normal;
    padding:0;
    margin:0;
    font-size:inherit;
  }

  .poweredby {
    float:right;

    h2 {
      float:left;
      line-height:26px;
    }

    li {
      height:26px;
      background:1em 0 no-repeat;
      padding:0 1em;

      a {
        text-indent:-999em;
        padding:0;
      }
    }

    li.joyent {
      background-image: url(/static/joyent-footer.png);
      width:82px;
    }

    li.iriscouch {
      background-image: url(/static/iriscouch-footer.png);
      width:115px;
    }
  }
}
