@import 'nib'

red = #cc3d33

body, input {
  font: 14px Lucida Grande, sans-serif;
  color: #666;
}

body {
  background-color: #f4f4f2;
  border-top: solid 6px red;
  padding: 55px 16px;
}

input {
  font-family: Georgia, serif;
  border: solid 1px transparent;
  padding: 0.5em;
  outline: none;
  &:hover { border-color: #ccc; }
  &:focus { border-color: #000; }
}

a {
  text-decoration: none;
  color: red;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
}

nav {
  float: left;
  width: 120px;
  font-size: 11px;
  text-transform: uppercase;
  &, a {
    color: #999;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      padding: 0.5em 0;
      border-bottom: solid 1px #ccc;
    }
  }
}

aside.login {
  float: right;
  width: 220px;
  background: linear-gradient(top, hsla(0, 0%, 50%, 0.1), transparent);
  padding: 0.5em;
  .avatar {
    width: 25px;
    height: 25px;
    float: left;
  }
  .profile {
    margin-left: 30px;
  }
}

#page {
  margin-left 120px + 80px;
  margin-right: 220px + 40px;

  header {
    h1 {
      text-indent: -999em;
      width: 200px;
      height: 78px;
      background: url('/static/npm.png') no-repeat;
      background-size: 200px 78px;
      margin: -5px 0 0;
    }
    form input {
      font-size: 18px;
      width: 50%;
      float: right;
    }
  }
}

#package {
  > h1 {
    font: 28px Georgia, serif;
    border-bottom: solid 1px #000;
  }
  p.description {
    font: 18px Georgia, serif;
  }
  td.with-avatar {
    position: relative;
    padding-left: 30px;
    .avatar {
      position: absolute;
      top: 5px;
      left: 0;
      width: 25px;
      height: 25px;
    }
  }
  table.metadata {
    margin: 1em 0;
    width: 100%;
  }
  tr {
    border-top: solid 1px #ccc;
  }
  th, td {
    padding: 0.75em 0;
    vertical-align: baseline;
  }
  th {
    color: #000;
    font-weight: normal;
    text-align: left;
    width: 120px;
  }

  .details {
    ul.toc {
      padding: 0;
      margin-bottom: 0;
      font-size: 16px;
      li {
        display: inline-block;
        padding: 0.5em 32px 0.5em 16px;
        &:first-child {
          background-color: #fff;
        }
      }
    }

    section {
      padding: 16px;
      background-color: #fff;
      margin-right: -260px;

      &#readme {
        h1 { font-size: 24px; }
        pre {
          font-family: Monaco, monospace;
          background-color: #f9f9f8;
          padding: 16px;
        }
      }
    }
  }
}
