/node_modules/.bin/*
!/node_modules/.bin/bunyan*
node_modules/replicate
node_modules/touch
config.admin.js
config.dev.js
ssl
!dev/ssl
.*.swp
*.couch
dev/couch/.*
erl_crash.dump
couch.log
redis.log
dev/redis/dump.rdb
npm-debug.log
doc/
api/
static/style.css
static/webfonts/
search.log
dev/elasticsearch/data
dev/elasticsearch/logs
