<%- include('header.ejs', locals) %>
<h1>Email Address Change Submitted!</h1>

<p>
  <a href=/profile-edit>Edit Profile</a> -
  <a href=/password>Change Password</a> -
  <a href=/forgot>Forgot Password</a>
</p>


<p>An email confirmation has just been sent to you with a link that
  you must click to complete the process.</p>

<p>If you have any problems, please contact
  <a href="user-account-bot@npmjs.org">the website admins</a>
  and we'll do our best to get you sorted out.</p>

<%- include('footer.ejs', locals) %>
