    </div>
  </div></div>

<div id="footer">
  <a class="footlogo" href="/">npm</a>

  <ul>
    <li><a href="/">npm Registry</a>
    <li><a href="/doc/">Documentation</a>
    <li><a href="https://raw.github.com/isaacs/npm/master/LICENSE">License</a>
    <li><a href="https://github.com/isaacs/npm-www/issues">Website Issues</a>
    <li><a href="http://nodejs.org/">Node.js Home</a>
    <li><a href="http://blog.nodejs.org/">Blog</a>
  </ul>

  <div class="poweredby">
    <h2>Powered By:</h2>
    <ul>
      <li class="joyent">
        <a href="http://joyent.com/"><img src="/static/joyent-footer.png"
        alt="Joyent"
        height=32 width=88></a>
      <li class="iriscouch">
        <a href="http://iriscouch.com/"><img src="/static/iriscouch-footer.png"
        alt="IrisCouch"
        height=32 width=115></a>
    </ul>
  </div>
</div>

<small class="heart">npm loves you</small>

<script>
window._gaq = [['_setAccount', 'UA-10874194-2'], ['_trackPageview']]
;(function(d, t) {
  var g = d.createElement(t)
  var s = d.getElementsByTagName(t)[0]
  g.src = '//www.google-analytics.com/ga.js'
  s.parentNode.insertBefore(g, s)
}(document, 'script'))
</script>
