<div id="footer">
  <a class="footlogo" href="/">npm</a>

  <ul>
    <li><a href="http://nodejs.org/">Node.js Home</a>
    <li><a href="http://blog.nodejs.org/">Blog</a>
    <li><a href="/">npm Registry</a>
    <li><a href="http://npmjs.org/doc/">Documentation</a>
    <li><a href="https://raw.github.com/isaacs/npm/master/LICENSE">License</a>
  </ul>

  <div class="poweredby">
    <h2>Powered By:</h2>
    <ul>
      <li class="joyent"><a href="http://joyent.com/">Joyent</a>
      <li class="iriscouch"><a href="http://iriscouch.com/">IrisCouch</a>
    </ul>
  </div>
</div>

<script>
window._gaq = [['_setAccount', 'UA-10874194-2'], ['_trackPageview']]
;(function(d, t) {
  var g = d.createElement(t)
  var s = d.getElementsByTagName(t)[0]
  g.src = '//www.google-analytics.com/ga.js'
  s.parentNode.insertBefore(g, s)
}(document, 'script'))
</script>
