<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= (typeof title !== 'undefined' ? title : 'npm') %></title>
  <link type="text/css" rel="stylesheet" media="all"
    href="/static/normalize.css">
  <link type="text/css" rel="stylesheet" media="all"
    href="/stylus/index.css">
<body>
  <div id="wrap"><div id="content">
    <%- include('nav.ejs') %>
    <%- include('login-aside.ejs', locals) %>

    <div id="page">
      <header>
        <form>
          <input type="search" placeholder="Search Packages">
        </form>
        <h1>
          <a id="npm-logo" href="/">
            <img src="/static/npm.png" alt="npm">
          </a>
        </h1>
      </header>


