<h1>The npm Website</h1>

<p>More to come soon.
  <a href="https://github.com/isaacs/npm-www">Patches welcome!</a></p>

<p>For now, the following functionality is implemented:</p>

<h2>Profile Stuff</h2>

<ul>
  <li><a href="/signup">Create a profile</a></li>
  <li><a href="/profile">View your profile</a></li>
  <li><a href="/profile/ry">View someone else's profile</a></li>
  <li><a href="/profile-edit">Edit your profile</a></li>
  <li><a href="/password">Change your password</a></li>
  <li><a href="/forgot">Reset a forgotten password</a></li>
  <li><a href="/logout">Log out</a></li>
</ul>

<h2>Package Data</h2>

<ul>
  <li><a href="/package/npm/latest">View a package's info</a></li>
  <li><a href="/keyword/framework">View by keyword</a></li>
</ul>

<h2>Other</h2>

<ul>
  <li><a href="/about">More about this site</a></li>
  <li><a href="/session">Show your session info</a></li>
</ul>
