red = #cc3d33

body, input {
  font: 14px Lucida Grande;
  color: #666;
}

body {
  background-color: #f4f4f2;
  border-top: solid 6px red;
  padding: 55px 16px;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
}

nav {
  float: left;
  width: 120px;
  font-size: 11px;
  text-transform: uppercase;
  &, a {
    color: #999;
  }
  ul {
    padding: 0;
    li {
      padding: 0.5em 0;
      border-bottom: solid 1px #ccc;
    }
  }
}

aside.login {
  float: right;
}

#page {
  margin-left 200px;
}

#package {
  > h1 {
    font: 28px Georgia;
  }

  p.description {
    font: 18px Georgia;
  }

  table.metadata {
    margin: 1em 0;
    width: 80%;
  }
  tr {
    border-top: solid 1px #ccc;
  }
  th, td {
    padding: 0.5em 0;
  }
  th {
    color: #000;
    font-weight: normal;
    text-align: left;
    width: 120px;
  }

  .details {
    padding: 16px;
    background-color: #fff;
  }

  #readme {
    h1 { font-size: 24px; }
    pre {
      font-family: Monaco, monospace;
      background-color: #f9f9f8;
      padding: 16px;
    }
  }
}
