<div id="package">
  <h1>Keyword: &quot;<%= keyword %>&quot;</h1>
  <% if (packages.length) { %>
    <p class="description"><%- packages.length %> packages found.</p>
    <div class="row">
      <%-
      packages.map(function (p) {
        return ('<p><a href="' + p.url + '">' + p.name + '</a> '
                + p.description + '</p>')
      }).join('</div><div class="row">')
      %>
    </div>
  <% } %>
</div>
