<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>NPM</title>
  <link type="text/css" rel="stylesheet" media="all" href="/static/normalize.css" />
  <link type="text/css" rel="stylesheet" media="all" href="/stylus/index.css" />
  <body>
  <div id="content">

  <%- include('nav.ejs') %>
  <%- include('login-aside.ejs', locals) %>

	<div id="page">
		<header>
		<form>
			<input type="search" placeholder="Search Packages">
		</form>
		<h1>npm</h1>
		</header>

		<div id="content">
			<%- include(content, locals) %>
		</div>
	</div>
</div>
	</body>
</html>
