<html>login, please:

<form method='post'><label>u: <input name='name'></label>
  <label>p: <input type='password' name='password'></label>
  <input type='submit'>
</form>

<p><a href="/signup">sign up</a>
<p><a href="/forgot">forgot password</a>
