login, please:

<form method='post'>
  <p>
    <label>username: <input name='name'></label>
  </p>
  <p>
    <label>password: <input type='password' name='password'></label>
  </p>
  <p>
    <input type='submit'>
  </p>
</form>

<p><a href="/signup">sign up</a>
<p><a href="/forgot">forgot password</a>
