<aside class="login">
  <%
  if (!profile) {
    %>
    <div class=profile>
      <a href=/login>Login</a>
    </div>
    <%
  } else {
    %>
    <div class="profile">
      <% if (profile.gravatar) { %>
      <img src="<%= profile.gravatar %>" class="avatar">
      <% } %>
      <a href="/profile"><%= profile.fullname || profile.name %></a>
      <p class=profsub>
        <a class=profsub href=/profile-edit>Edit Profile</a>
        <a class=profsub href=/logout>Log out</a>
      </p>
    </div>
    <ul class="menu">
    </ul>
    <%
  }
  %>
</aside>
