<%- include('header.ejs', locals) %>
<h1>login, please:</h1>

<form method='post'>
<table>
<tr>
  <th>
    <label for=name>username</label>
  </th>
  <td>
    <input name=name id=name>
  </td>
</tr>
<tr>
  <th>
    <label for=password>password</label>
  </th>
  <td>
    <input type=password name=password id=password>
  </td>
</tr>
<tr>
  <td colspan=2>
    <input type='submit'>
  </td>
</tr>
</table>
</form>

<p><a href="/signup">sign up</a>
<p><a href="/forgot">forgot password</a>
<%- include('footer.ejs', locals) %>
