<%- include('header.ejs', locals) %>
<h1>Forgot password</h1>

<p>Fill out your username below.</p>
<p>A link will be emailed to you.</p>
<p>Click the link, pick a new password.</p>

<form method=post>
<fieldset>
<label for=name>Username</label>
<input id=name name=name type=name>
</fieldset>

<fieldset class=buttons>
<button class=btn type=submit>Engage</button>
</fieldset>
<%- csrf %>
</form>
<%- include('footer.ejs', locals) %>
