<%- include('header.ejs', locals) %>
<h1>Forgot password</h1>

<p>
  <a href=/profile-edit>Edit Profile</a> -
  <a href=/email-edit>Edit Email Address</a> -
  <a href=/password>Change Password</a>
</p>

<p>Enter your username or email address below.</p>
<p>A link will be emailed to you.</p>
<p>Click the link, pick a new password.</p>

<% if (error) { %>
  <p class="error"><%- error %></p>
<% } %>

<form method=post>
<fieldset>
<label for=name_email>Username / Email</label>
<input id=name_email name=name_email>
</fieldset>

<fieldset class=buttons>
<button class=btn type=submit>Engage</button>
</fieldset>
<%- csrf %>
</form>
<%- include('footer.ejs', locals) %>
