<!doctype html>
<html>

<h1>Forgot password</h1>

<p>You've successfully changed your password.</p>

<p>Your new password is: <code><%= password %></code></p>

<p>By the time you view this page, the server has already
forgotten it, and the reset token has been consumed.</p>

<p><a href=/login>Login now</a> with this password.</p>

<p>You will be prompted to change it immediately.</p>

</body></html>
