<!doctype html>
<html>

<h1>Forgot password</h1>

<p>Fill out your username and email address.</p>
<p>A link will be emailed to you.</p>
<p>Click the link, pick a new password.</p>

<form method=post>
<fieldset>
<label for=name>Username</label>
<input id=name name=name type=name>
</fieldset>

<input type="submit" value="Engage.">
</form>

</body></html>
