<!doctype html>
<html>

  <script>console.log(<%- JSON.stringify(profile, null, 2) %>)</script>

  <h1>Change your password</h1>

<%
if (error) {
  %><p>There was a problem!  The server said: <%= error %></p><%
}
%>

<form method=post>
<input type=hidden name=password_sha value="<%= profile.password_sha %>">
<fieldset>
<label for=current>Current Password</label>
<input id=current name=current type=password>
</fieldset>

<fieldset>
<label for=new>New Password</label>
<input id=new name=new type=password>
</fieldset>

<fieldset>
<label for=verify>Verify Password</label>
<input id=verify name=verify type=password>
</fieldset>

<input type="submit" value="Make it so.">
</form>

</body></html>
