
  <h1><%= profile.name %></h1>
  <%
  if (profile.isSelf) {
    %>
    <p>This is your profile.
      <a href=/profile/_edit>Edit Profile</a>
      <a href=/password>Change Password</a></p>
    <%
  }
  %>


<table width="100%">
<%
Object.keys(fields).forEach(function (f) {
  %>
  <tr>
    <th><%= fields[f] %></th>
    <td><%= profile[f] || '' %></td>
  </tr>
  <%
})
%>
</table>

<% if (self) {
  %>
  <a href='/logout/?done=/profile/<%= profile.name %>'>log out</a>
  <%
}
%>
